<div>
  <label>Make
    <input name="make" required value="<%= item.make || '' %>">
  </label>
</div>
<div>
  <label>Model
    <input name="model" required value="<%= item.model || '' %>">
  </label>
</div>
<div>
  <label>Serial
    <input name="serial" value="<%= item.serial || '' %>">
  </label>
</div>
<div>
  <label>Caliber
    <input name="caliber" value="<%= item.caliber || '' %>">
  </label>
</div>
<div>
  <label>Purchase Date
    <input type="text" class="js-date-picker" name="purchase_date" value="<%= item.purchase_date || '' %>">
  </label>
</div>
<div>
  <label>Purchase Price
    <input type="number" step="0.01" name="purchase_price" value="<%= item.purchase_price ?? '' %>">
  </label>
</div>
<div>
  <label>Condition
    <input name="condition" value="<%= item.condition || '' %>">
  </label>
</div>
<div>
  <label>Location
    <input name="location" value="<%= item.location || '' %>">
  </label>
</div>
<div>
  <label>Status
    <input name="status" value="<%= item.status || '' %>">
  </label>
</div>
<div class="col-span-2">
  <label>Notes
    <textarea name="notes" rows="4"><%= item.notes || '' %></textarea>
  </label>
  </div>

